body {
    background-color: #f0f0f0;
}
#homeUI {
    margin-top: 5%;
}
#sectiontitle {
    display: inline-block;
}

.border {
    border-width:2.5px !important;
}

.fa-piggy-bank{
    color: #ff9a9a;
}

.fa-coins {
    color: rgb(0, 108, 0);
}
#profile{
    display: inline-block;
    border-radius: 100px;
    border-width:2.5px;
    border-color: red;
    box-shadow: 0 0 2px rgb(223, 226, 230);
    padding: 1.6em 2.0em;
}